<article class="about" [class.active]="isActive">

  <header>
    <h2 class="h2 article-title">About me</h2>
  </header>

  <section class="about-text" *ngIf="bioParagraphs && bioParagraphs.length">
    <p *ngFor="let para of bioParagraphs">
      {{ para }}
    </p>
  </section>

  <section class="stats" style="margin-bottom: 35px;" *ngIf="stats && stats.length">
    <ul class="stats-highlights content-card">
      <li class="stats-highlight-item" *ngFor="let stat of stats">
        <div class="stats-highlight-icon">
          <ion-icon [name]="stat.icon"></ion-icon>
        </div>
        <div class="stats-highlight-content">
          <h4 class="stats-highlight-title">{{ stat.value }}</h4>
          <p class="stats-highlight-subtitle">{{ stat.label }}</p>
          <p class="stats-highlight-text">{{ stat.text }}</p>
        </div>
      </li>
    </ul>
  </section>

  <section class="service" *ngIf="services && services.length">

    <h3 class="h3 service-title">What I'm doing</h3>

    <ul class="service-list">

      <li class="service-item" *ngFor="let service of services">
        <div class="service-icon-box">
          <ion-icon [name]="service.icon"></ion-icon>
        </div>
        <div class="service-content-box">
          <h4 class="h4 service-item-title">{{ service.title }}</h4>
          <p class="service-item-text">
            {{ service.text }}
          </p>
          <ul class="service-tag-list" *ngIf="service.tags && service.tags.length">
            <li class="service-tag" *ngFor="let tag of service.tags">{{ tag }}</li>
          </ul>
        </div>
      </li>

    </ul>

  </section>

  <section class="tech-stack" *ngIf="techStack && techStack.length">

    <h3 class="h3 service-title">Tech stack</h3>

    <ul class="tech-stack-list content-card">
      <li class="tech-stack-item" *ngFor="let tech of techStack" [title]="tech.name">
        <i [class]="tech.iconClass"></i>
        <span class="tech-stack-name">{{ tech.name }}</span>
      </li>
    </ul>

  </section>

</article>
