<article class="about" [class.active]="isActive">

  <header>
    <h2 class="h2 article-title">About me</h2>
  </header>

  <section class="about-text">
    <p>
      A self-motivated and passionate web developer dedicated to creating innovative digital solutions
      using modern web technologies including HTML, CSS, JavaScript, React, Core Java, and Spring Boot.
      I combine expertise in full-stack development with strong knowledge of embedded systems and IoT to
      deliver robust, scalable applications. Committed to continuous learning and applying best practices
      in software development.
    </p>
  </section>

  <section class="service">

    <h3 class="h3 service-title">What I'm doing</h3>

    <ul class="service-list">

      <li class="service-item">
        <div class="service-icon-box">
          <img src="assets/images/icon-design.svg" alt="design icon" width="40">
        </div>
        <div class="service-content-box">
          <h4 class="h4 service-item-title">Web design</h4>
          <p class="service-item-text">
            The most modern and high-quality design made at a professional level.
          </p>
        </div>
      </li>

      <li class="service-item">
        <div class="service-icon-box">
          <img src="assets/images/icon-dev.svg" alt="Web development icon" width="40">
        </div>
        <div class="service-content-box">
          <h4 class="h4 service-item-title">Web development</h4>
          <p class="service-item-text">
            High-quality development of sites at the professional level.
          </p>
        </div>
      </li>

      <li class="service-item">
        <div class="service-icon-box">
          <img src="assets/images/bike.png" alt="mobile app icon" width="40" height="40">
        </div>
        <div class="service-content-box">
          <h4 class="h4 service-item-title">Travel</h4>
          <p class="service-item-text">
            Bike travel is a healthy way to explore new places at your own pace. It connects more closely
            with nature and local communities. Every journey becomes an adventure.
          </p>
        </div>
      </li>

      <li class="service-item">
        <div class="service-icon-box">
          <img src="assets/images/icon-photo.svg" alt="camera icon" width="40">
        </div>
        <div class="service-content-box">
          <h4 class="h4 service-item-title">Photography</h4>
          <p class="service-item-text">
            I make high-quality photos of any category at a professional level.
          </p>
        </div>
      </li>

    </ul>

  </section>

</article>
