<nav class="navbar" [class.open]="isMenuOpen">
  <button
    class="navbar-toggle"
    type="button"
    [attr.aria-expanded]="isMenuOpen"
    aria-label="Toggle navigation"
    (click)="toggleMenu()">
    <ion-icon [name]="isMenuOpen ? 'close-outline' : 'menu-outline'"></ion-icon>
  </button>

  <ul class="navbar-list" [class.open]="isMenuOpen">
    <li class="navbar-item" *ngFor="let item of items">
      <button
        class="navbar-link"
        [class.active]="pageState.activePage() === item.id"
        (click)="select(item.id)">
        {{ item.label }}
      </button>
    </li>
  </ul>
</nav>
