<aside class="sidebar" [class.active]="isOpen()">

  <div class="sidebar-info">

    <figure class="avatar-box">
      <img src="assets/images/my-avatar.png" alt="Naveen" width="100">
    </figure>

    <div class="info-content">
      <h1 class="name" title="Naveenkumar R">Naveenkumar R</h1>
      <p class="title">Fullstack Developer</p>
    </div>

    <button class="info_more-btn" (click)="toggle()">
      <span>Show Contacts</span>
      <ion-icon name="chevron-down"></ion-icon>
    </button>

  </div>

  <div class="sidebar-info_more">

    <div class="separator"></div>

    <ul class="contacts-list">

      <li class="contact-item" *ngFor="let contact of contacts">
        <div class="icon-box">
          <ion-icon [name]="contact.icon"></ion-icon>
        </div>
        <div class="contact-info">
          <p class="contact-title">{{ contact.title }}</p>
          <a *ngIf="contact.type === 'link'" [href]="contact.href" class="contact-link">{{ contact.value }}</a>
          <time *ngIf="contact.type === 'time'" [attr.datetime]="contact.datetime">{{ contact.value }}</time>
          <address *ngIf="contact.type === 'address'">{{ contact.value }}</address>
        </div>
      </li>

    </ul>

    <div class="separator"></div>

    <ul class="social-list">
  <li class="social-item" *ngFor="let social of socials">
    <a
      [href]="social.url"
      target="_blank"
      rel="noopener noreferrer"
      class="social-link"
      [attr.aria-label]="social.name">

      <ion-icon
        [name]="social.icon"
        [ngClass]="social.name.toLowerCase()">
      </ion-icon>

    </a>
  </li>
</ul>

    <a [href]="resumeLink" target="_blank" rel="noopener" class="sidebar-resume-btn">
      <ion-icon name="eye-outline"></ion-icon>
      <span>View Resume</span>
    </a>

  </div>

</aside>
