<aside class="sidebar" [class.active]="isOpen()">

  <div class="sidebar-info">

    <figure class="avatar-box">
      <img src="assets/images/my-avatar.jpg" alt="Naveen" width="80">
    </figure>

    <div class="info-content">
      <h1 class="name" title="Naveenkumar R">Naveenkumar R</h1>
      <p class="title">Web developer</p>
    </div>

    <button class="info_more-btn" (click)="toggle()">
      <span>Show Contacts</span>
      <ion-icon name="chevron-down"></ion-icon>
    </button>

  </div>

  <div class="sidebar-info_more">

    <div class="separator"></div>

    <ul class="contacts-list">

      <li class="contact-item">
        <div class="icon-box">
          <ion-icon name="mail-outline"></ion-icon>
        </div>
        <div class="contact-info">
          <p class="contact-title">Email</p>
          <a href="mailto:naveenkumarrnk6677@gmail.com" class="contact-link">naveenkumarrnk6677&#64;gmail.com</a>
        </div>
      </li>

      <li class="contact-item">
        <div class="icon-box">
          <ion-icon name="phone-portrait-outline"></ion-icon>
        </div>
        <div class="contact-info">
          <p class="contact-title">Phone</p>
          <a href="tel:+91 7397114035" class="contact-link">+91 7397114035</a>
        </div>
      </li>

      <li class="contact-item">
        <div class="icon-box">
          <ion-icon name="calendar-outline"></ion-icon>
        </div>
        <div class="contact-info">
          <p class="contact-title">Birthday</p>
          <time datetime="1982-06-23">July 18, 2002</time>
        </div>
      </li>

      <li class="contact-item">
        <div class="icon-box">
          <ion-icon name="location-outline"></ion-icon>
        </div>
        <div class="contact-info">
          <p class="contact-title">Location</p>
          <address>Cuddalore</address>
        </div>
      </li>

    </ul>

    <div class="separator"></div>

    <ul class="social-list">
      <li class="social-item">
        <a href="https://www.linkedin.com/in/naveenkumar-r-7072a7277" class="social-link">
          <ion-icon name="logo-linkedin"></ion-icon>
        </a>
      </li>
      <li class="social-item">
        <a href="https://github.com/naveen18072002" class="social-link">
          <ion-icon name="logo-github"></ion-icon>
        </a>
      </li>
      <li class="social-item">
        <a href="https://www.instagram.com/_naveen_390" class="social-link">
          <ion-icon name="logo-instagram"></ion-icon>
        </a>
      </li>
    </ul>

  </div>

</aside>
